<%-include("./partials/header")%>


<div class="ui container">
	
	<h1>
		Edit your comment
	</h1>
  <form class="ui form" method="POST" action="/blogs/<%= blog_id %>/comments/<%= comment._id %>?_method=PUT" >
  <div class="field">
    <label>Comment</label>
    <input type="text" name="comment[text]" placeholder="comment" value="<%= comment.text %>" required>
  </div>
  
  <button class="ui button" type="submit">Submit</button>
 </form>
</div>

<%-include("./partials/footer")%>